.graph {
  background: white;
  border-radius: 3px;
  border: none;
  width: 80%;
  height:90%;
  padding: 3% 3%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.graph {
  margin-top: 5%;
}

.tittle {
  margin: 0 0% 10% 0%;
}

.tittle a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #035A27;
}

@media (min-width: 1000px) {
  .graph {
    width: 42%;
    height:90%;
    padding: 3% 3%;
    margin-top: 0;
  }

  .bar {
    margin-top: 40px;
  }
}