.nav_container{
  background: linear-gradient(90deg, #000000 0%, #B5B5B5 100%);
  color: white;
}

.nav_itens:hover {
  background: rgba(255,255,255, 0.2);
}

.nav_itens__selected {
  background: rgba(255,255,255, 0.2);
}

.one,
.two,
.three {
    background-color: #fff;
    height: 6px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
}

.menu_toggle {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-left: 8px;
  margin-top: 21px;
  cursor: pointer;
}

.nav_container.on {
  position: absolute;
  top:0;
  left:0;
  
  width: 100vw;
  height: 100vh;

  background-color: #7159c1;
  
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav_container.on .menu_toggle {
  position: absolute;
  right: 25px;
  top: 15px;
}

.nav_container.on .menu_toggle .one {
  transform: rotate(45deg) translate(8px, 9px);
}

.nav_container.on .menu_toggle .two {
  opacity: 0;
}

.nav_container.on .menu_toggle .three {
  transform: rotate(-45deg) translate(8px, -9px);
}


.nav_itens {
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .nav_title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: block;
    text-decoration: none;
    padding: 29px 30px 7px 30px;
  }
  
  .nav_title.on {
    padding: 7px 30px 7px 30px;
  }

  @media (min-width: 320px) and (max-width: 370px) {
    .nav_itens {
      display: none;
    }

    .nav_container.on .nav_itens {
      display: flex;
      line-height: 34px;
    }

    .menu_toggle {
      margin-top: 10px; 
    }

    .nav_title {
      padding: 18px 30px 14px 31px;
    }
  }

@media (min-width: 375px ) and (max-width: 376px) {
  .nav_itens {
    padding: 15px 25px 15px 25px;
  }

  .nav_title {
    padding: 35px 15px 26px 13px !important;
  }

  .menu_toggle {
    margin-top: 22px !important;
  }
}

@media (min-width: 361px ) and (max-width: 380px) {
  .nav_title {
    padding: 46px 15px 26px 13px;
  }

  .menu_toggle {
    width: 40px;
    margin-left: 15px;
    margin-top: 37px;
    margin-right: 17px;
  }
}

@media (min-width: 410px) {
  .nav_title {
    padding: 29px 25px 7px 26px;
  }

  .menu_toggle{
    margin-left: 16px;
  }
}

@media (max-width: 999px) {
  .nav_container {
    display: flex;
  }
}

@media (min-width: 1000px) {
  .nav_container{
    height: 100%;
    width: 110px;
    position: fixed;
    background: linear-gradient(180deg, #000000 0%, #B5B5B5 100%);
    color: white;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .nav_title {
    margin: 15% 0;
    padding: 7px 30px 7px 20px;
  }

  .nav_itens {
    padding: 15px 30px 15px 20px;
    margin: 30% 0;
    font-size: 16px;
    line-height: 22px;
  }

  .menu_toggle {
    display: none;
  }

}